
# C smart contracts 
*.ll
*.o
*.wasm
*.hex
*.hex.arwen

# Rust smart contracts
*/target/

# Variables config
variables.json
watched.json
watched.testnet.json

# VSCode settings
.vscode

**/node_modules